body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

ol {
    list-style-type: none;
    counter-reset: question;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    color: #555;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.popup h2 {
    text-align: center;
    margin-bottom: 10px;
}

.popup p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.popup button:hover {
    background-color: #45a049;
}

.popup .recomendation {
margin-top: 20px;
font-size: 16px;
font-weight: bold;
text-align: center;
padding: 10px;
background-color: #f0f0f0;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para diferentes níveis de conhecimento */
.popup .recomendation.level-basico {
color: #4CAF50; /* Verde para conhecimento básico */
}

.popup .recomendation.level-intermediario {
color: #FF9800; /* Laranja para conhecimento intermediário */
}

.popup .recomendation.level-avancado {
color: #2196F3; /* Azul para conhecimento avançado */
}

.popup .recomendation.level-perfeito {
color: #FF5722; /* Vermelho para pontuação perfeita */
}